teste.json
{
    "name": "Criar Database para Cliente",
    "nodes": [
        {
            "parameters": {},
            "id": "start",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [250, 300]
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "=CREATE DATABASE {{ $json.nome_cliente.toLowerCase().replace(/\\s+/g, '_') }}_db;\nCREATE USER {{ $json.nome_cliente.toLowerCase().replace(/\\s+/g, '_') }}_user WITH PASSWORD '{{ $json.senha }}';\nGRANT ALL PRIVILEGES ON DATABASE {{ $json.nome_cliente.toLowerCase().replace(/\\s+/g, '_') }}_db TO {{ $json.nome_cliente.toLowerCase().replace(/\\s+/g, '_') }}_user;"
            },
            "id": "postgres",
            "name": "Criar Database",
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2,
            "position": [650, 300],
            "credentials": {
                "postgres": {
                    "id": "SUA_CREDENCIAL_ID",
                    "name": "Postgres - n8n"
                }
            }
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "nome_cliente",
                            "value": "Empresa ABC"
                        },
                        {
                            "name": "senha",
                            "value": "SenhaSegura123!"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set",
            "name": "Dados do Cliente",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3,
            "position": [450, 300]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [{ "node": "Dados do Cliente", "type": "main", "index": 0 }]
            ]
        },
        "Dados do Cliente": {
            "main": [[{ "node": "Criar Database", "type": "main", "index": 0 }]]
        }
    }
}
